:root {
  --font-body: "Inter",sans-serif;
  --color-background-primary: #121212;
  --color-background-secondary: #2c2c2c;
  --color-divider: #939393;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html, body {
  max-width: 100vw;
  color-scheme: dark;
}

body {
  background-color: var(--color-background-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  margin-left: 1.5rem;
}

li::marker {
  font-family: var(--font-body);
}

blockquote {
  padding: 0.5rem;
  padding-left: 0.625rem;
  margin-left: 0.75rem;
  border-left: 0.125rem solid var(--color-divider);
  font-size: 1rem;
  overflow-x: auto;
  background-color: var(--color-background-secondary);
}

blockquote > code {
  white-space: pre;
}

p > code, span > code {
  background-color: var(--color-background-secondary);
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.richtext-strikethrough {
  text-decoration: line-through;
}

.rich-text-block h2 {
  margin-top: 0.75rem;
}